body {
  margin: 0;
  padding: 0;

  width: auto;
  height: auto;

  font-family: Inter, Arial, sans-serif;
}

#mapContainer {
  position: relative;
}

#currentView {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid blue;
  border-radius: 4px;
  transition: left 0.1s ease, top 0.1s ease, width 0.1s ease, height 0.1s ease;
}

#relativeScaleLabel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  padding-right: 8px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.4;
  background-color: #fff;
  border-bottom-left-radius: 12px;
}

#relativeScaleLabel:hover {
  cursor: pointer;
  opacity: 1;
}
