body {
  margin: 0;
  padding: 0;

  width: auto;
  height: auto;
}

#mapContainer {
  position: relative;
}

#currentView {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid blue;
  border-radius: 4px;
  transition: left 0.1s ease, top 0.1s ease, width 0.1s ease, height 0.1s ease;
}
