body {
  margin: 0;
  padding: 0;

  width: auto;
  height: auto;

  overflow: hidden;

  font-family: Inter, Arial, sans-serif;
}

#mapContainer {
  position: relative;
}

#currentView {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid blue;
  border-radius: 4px;
  transition: left 0.1s ease, top 0.1s ease, width 0.1s ease, height 0.1s ease;
}

.mapLabel {
  position: absolute;
  background-color: #fff;
}

#relativeScaleLabel {
  top: 0;
  right: 0;
  opacity: 0.4;
  padding: 4px;
  padding-right: 8px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom-left-radius: 12px;
}

#relativeScaleLabel:hover {
  cursor: pointer;
  opacity: 1;
}

#buy {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
  border-top-right-radius: 12px;
}

#buy.trialEnded {
  top: 50%;
  left: 50%;
  bottom: initial;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.content {
  height: 238px;
  padding: 12px;
  overflow-y: auto;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

.block {
  margin-bottom: 1em;
}

.subscription_form {
  display: flex;
  gap: 4px;
  margin-top: 12px;
}

.subscription_form input {
  flex-grow: 1;
}

.email_error {
  color: #ff6347;
}

._hidden {
  display: none;
}

._blurred {
  filter: blur(16px);
}
